body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Button styling */
.button {
    background-color: #007bff; /* Green background */
    color: white; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none; /* Remove underline */
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}

.button:hover {
    background-color: #0056b3; /* Darker green on hover */
}

#downloadLink {
    margin-top: 20px;
    display: inline-block; /* Ensure it behaves like a button */
}


#result {
    margin-top: 20px;
    text-align: center;
}

canvas {
    border: 1px solid #ddd;
    display: none;
    max-width: 100%; /* Ensures canvas doesn't overflow the container */
    height: auto;
}

#originalSize {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}
